NEO4J_URI=bolt://neo4j:))))
NEO4J_USER=*****
NEO4J_PASSWORD=******
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# AWS Configuration (for live IAM ingestion)


